<view  class='dialog-main' hidden='{{isHidden}}' bindtouchmove='touchmove'>
<view class='dialog-main-cover'>
  <label class='pay-modal-title'>确认订单</label>
  <view class='pay-modal-information'>
    <label class='pay-modal-product'>商品名称:</label>
    <text class="pay-modal-product-name">1</text>
  </view>
  <view class='pay-modal-information'>
    <label class='pay-modal-product'>商品价格:</label>
    <text class="pay-modal-product-name">￥5.18</text>
  </view>
  <view class='pay-modal-information'>
    <label class='pay-modal-product'>优惠券:</label>
    <text class="pay-modal-product-name coupons">请选择优惠券</text>
  </view>
  <view class='pay-modal-information'>
    <label class='pay-modal-product'>实际支付:</label>
    <text class="pay-modal-product-name final-price">￥5.18</text>
  </view>
  <button class="pay-modal-go">去支付</button>
  <button class="pay-modal-free">成为会员(此单免费)</button>
  <icon type="cancel" size="20" color='#fff' class='pay-modal-close' bindtap='closeDialog'></icon>
</view>
</view>
